/* declaração de variaveis e estilos da página */

:root {
    --white-main: #ffffff;
    --gray-second: #C0C0C0;
    --blue-button: #167BF7;
    --background: #00030C;
    --main-font: 'Inter';
}

body {
    background-color: var(--background);
    color: var(--white-main);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

/* Seção principal - grid em colunas para ocupar metade da tela, align itens para deixar no centro da tela e text align para alinhar
textos ao centro */

.main-section {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.second_button {
    background-color: transparent;
    border: 2px solid var(--white-main);
}

.container__warning {
    font-size: 12px;
    color: var(--gray-second);
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__box {
    margin: 0 6em;
}

/* Seção secundaria - reutilizando estilos do container */

.second__image {
    width: 80%;
} 

.second {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--white-main);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--gray-second);
}

/* Terceira Seção */

.description__button {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    padding: 2.5em;
}

/* Quarta Seção */

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: var(--white-main);
    margin: 5em 0;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px;
}

.list__item {
    font-size: 32px;
    color: var(--white-main);
}

/* Footer */

.footer {
    text-align: center;
    font-size: 14px;
    margin: 5em;
    
}

.footer__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 16px;
}

.list__link a {
    color: var(--white-main);
    text-decoration: none;
    margin-right: 2em;
}

.footer__text {
    color: var(--gray-second);
    margin: 2em 0;
}

.footer__logo {
    margin: 3em;
}

.list__link a:hover {
    color: var(--blue-button);
}